.template-card {
  background-color: #100e0e;
  border: 1px solid #d9cdcd;
  border-radius: 12px;
  width: 80pc;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #f4f1f1;
  transition: transform 0.2s ease;
  min-width: 200px;
  text-align: center;
}

.template-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.start-workout-button {
  background-color: #000000;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 15pc;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.start-workout-button:hover {
  background-color: #333333;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #6c757d;
  color: white;
  padding: 6px 6px;
  font-size: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
  justify-content: left;
}

.back-button:hover {
  background-color: rgb(119, 113, 113);
}
