/* .workout-complete-container {
  background-color: #100e0e;
  border: 1px solid #d9cdcd;
  border-radius: 12px;
  width: 80pc;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #d6cbcb;
  transition: transform 0.2s ease;
  min-width: 200px;
  text-align: center;
} */
